@import "modules/_variables.scss";
@import "vendor/grid.scss";

html {
  color: $primary-text-color;
  font-family: $standard-font-family;
}

h1 {
  color: $primary-text-color;
}

#logo {

}

#navbar {
  font-size: $standard-nav-size + .5;
  display: flex;
  color: $primary-brand-color;
}

.navbar_link {
  padding: 1rem;
}

.navbar_link_toggle {
  display: none;
}

.navbar_items {
  display: flex;
}

.navbar_items_right {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .navbar_items, #navbar {
    flex-direction: column;
  }
  .navbar_link_toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar_items {
    display: none;
  }
  .navbar_items_right {
    margin-left: 0;
  }
}
