/* assign values to variables that are reuseable */

/*google font import*/
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");

/*colors*/
$primary-brand-color: #F0C808;
$secondary-brand-color: #DD1C1A;
$primary-text-color: #43464F;

/*sizes*/
$standard-nav-size: 1rem;

/*font*/
$standard-font-family: 'Arimo', sans-serif;
